.credentials

.terraform/
.terraform*

**/terraform.*
**/*.tfstate
**/*.tfstate.*
**/**.tfvars

**/*.conf

id_rsa.pub

credentials.sh
credentials-alt.sh

hashicorp.gpg

kubernetes/k8sCluster

ssh_private
